<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/style.css" rel="stylesheet">
    <title>My Diary</title>
</head>

<body>
    <h1>Diary Entries</h1>
    <a href="/api/entries/new-entry">Add New Entry</a>
    </ul>
        <% entries.forEach(entry=> { %>
            <li>
                <h2>
                    <%= entry.title %>
                </h2>
                <p>
                    <%= entry.content %>
                </p>
                <small><%= new Date(entry.date).toLocaleDateString() %></small>
            </li>
            <% }); %>
        </ul>
    

</body>

</html>