<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/style.css" rel="stylesheet">
    <title>My Diary</title>
</head>

<h1>New Diary Entry</h1>
<form action="/api/entries/search-result" method="GET">
    <label for="date">Date:</label>
    <input type="date" id="date" name="date" required>
    <button type="submit">Search</button>
</form>
<a href="/api/entries">Back to Diary</a>